<a href="https://colab.research.google.com/github/praneetahandral/pythonworkshop/blob/master/Day_2_session1_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#print multiples of 3 upto 200 using a list

In [1]:
def countMultiples(n): 
    res = 0; 
    for i in range(1, n + 1): 
        if (i % 3 == 0 or i % 7 == 0): 
            res += 1; 
   
    return res; 
  
# Driver code 
print("Count =", countMultiples(25));

Count = 10

#print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [2]:
# Python program to print all the numbers 
# divisible by 3 and 5 for a given number 

# Result function with N 
def result(N): 
	
	# iterate from 0 to N 
	for num in range(N): 
		
			# Short-circuit operator is used 
			if num % 3 == 0 and num % 5 == 0: 
				print(str(num) + " ", end = "") 
				
			else: 
				pass

# Driver code 
if __name__ == "__main__": 
	
	# input goes here 
	N = 100
	
	# Calling function 
	result(N)

0 15 30 45 60 75 90

#Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [3]:
# Program to sort alphabetically the words form a string provided by the user

my_str = "Hello this Is an Example With cased letters"

# To take input from the user
#my_str = input("Enter a string: ")

# breakdown the string into a list of words
words = my_str.split()

# sort the list
words.sort()

# display the sorted words

print("The sorted words are:")
for word in words:
   print(word)

The sorted words are:
Example
Hello
Is
With
an
cased
letters
this

#Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [8]:
def squares(a, b):
    lists=[]
    # Traverse through all numbers
    for i in range (a,b+1):
        j = 1;
        while j*j <= i:
            if j*j == i:
                 lists.append(i)  
            j = j+1
        i = i+1
    return lists
print(squares(5, 500))

[9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484]

#Calculate the Average of  the numbers in a List by getting the elements of list from keyboard .

In [9]:
n=int(input("Enter the number of elements to be inserted: "))
a=[]
for i in range(0,n):
    elem=int(input("Enter element: "))
    a.append(elem)
avg=sum(a)/n
print("Average of elements in the list",round(avg,2))

Enter the number of elements to be inserted: 2
Enter element: 23
Enter element: 26
Average of elements in the list 24.5

#Tuple exercises

#Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number

In [3]:
list1 = [1, 2, 5, 6] 
  
# using list comprehension to iterate each 
# values in list and create a tuple as specified 
res = [(val, pow(val, 3)) for val in list1] 
  
# print the result 
print(res)

[(1, 1), (2, 8), (5, 125), (6, 216)]

#Write python program to have a list of words  to sort them from  shortest to longest using list of tuples

In [4]:
# get the last key. 
def last(n): 
    return n[m]   
   
# function to sort the tuple    
def sort(tuples): 
  
    # We pass used defined function last 
    # as a parameter.  
    return sorted(tuples, key = last) 
   
# driver code   
a = [(23, 45, 20), (25, 44, 39), (89, 40, 23)] 
m = 2
print("Sorted:"), 
print(sort(a))

Sorted:
[(23, 45, 20), (89, 40, 23), (25, 44, 39)]

#Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them Rollno wise ascending order

In [5]:
def Sort_Tuple(tup):  
  
    # reverse = None (Sorts in Ascending order)  
    # key is set to sort using second element of  
    # sublist lambda has been used  
    tup.sort(key = lambda x: x[1])  
    return tup  
  
# Driver Code  
tup = [('rishav', 10), ('akash', 5), ('ram', 20), ('gaurav', 15)]  
  
# printing the sorted list of tuples 
print(Sort_Tuple(tup))

[('akash', 5), ('rishav', 10), ('gaurav', 15), ('ram', 20)]